.toc_top a {
	font-size: 1em;
}

#font-switch {
	cursor: pointer;
}

div#c {
	padding: 2.5% 5%;
}

h1 {
	text-align: center;
	margin: 0 auto;
	width: 400px;
}

h2 {
	margin: 0;
}

p {
	text-indent: 0.8em; margin: 0;
}

div + h2 {
	margin-top: 0.5em;
}
