@import url(http://fonts.googleapis.com/css?family=Cinzel|Open+Sans);
@import url(jquery.jqTOC.css);
@import url(/layout.css);

body {
	font-family: 'Cinzel', cursive;
	font-size: 1.8em;
	font-weight: bold;
	background-color: black;
}
