@import url(http://fonts.googleapis.com/css?family=Cinzel|Open+Sans);
@import url(jquery.jqTOC.css);
@import url(/layout-index.css);

body {
	color: #e0bd49;
	font-family: 'Cinzel', cursive;
	font-size: 1.8em;
	font-weight: bold;
	background-color: black;
}

a {
	text-shadow: 0px 0px 5px #fff;
	text-decoration: none;
}
a:link{color:inherit;}
a:active{color:inherit;}
a:visited{color:inherit;}
a:hover {
	color: #ffffff;
}
